@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Lemonada:wght@400;500&family=Lobster&family=Permanent+Marker&display=swap");

/* ##########################################
                  HEADER
  ########################################### */
:root {
  --trentGreen: #224a3c;
  --trentOrange: #b65735;
  --trentWordYellow: #c0b561;
}

body {
  overflow-x: hidden !important;
}

/*Divison of the top notification*/
div.top-notification {
  background-color: var(--trentOrange);
  padding: top 0.5em;
  padding: bottom 0.5em;
  margin-right: -0.6em;
  margin-left: -1em;
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*Text of the Notification Division*/
div.top-notification p {
  text-align: center;
}
/*Main-Menu Divsion Tag*/
div.main-navigation {
  background-color: var(--trentGreen);
}
/*Trent U logo - top left*/
.trent-logo {
  width: 50%;
  min-width: 25%;
  height: auto;
}

/*Div tag - main menu*/
.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -0.5em;
  padding-top: 1vw;
  padding-left: 1.3vw;
  padding-right: 2vw;
  padding-bottom: 4vw;
}

.main-navigation-links ul a {
  color: white;
  font-size: 1.25em;
}
.main-navigation-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.main-navigation-links ul li {
  padding-right: 3vh;
}
/*Div tag - sticky navigation page*/
.page-navigation-sticky{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--trentGreen);
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  font-family: Verdana, sans-serif;
}

.site-crest {
  height: 2em;
  min-width: 1em;
  width: auto;
  padding-top: 1em;
}
.crest-title {
  display: flex;
  flex-direction: row;
}
.site-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-right: 10%;
}
.site-links li {
  padding: 2%;
  margin-bottom: 0%;
  text-align: center;
}
.site-links a,
.main-navigation-links a {
  color: white;
  margin-left: 2vh;
  font-size: 1em;
  text-decoration: none;
}

.site-links a:hover,
.main-navigation-links a:hover {
  color: #b15533;
}

.site-title {
  font-size: 1.2em;
  color: white;
}






/* ##########################################
                  HOMEPAGE
  ########################################### */
.desktop1Wrapper {
  width: 100%;
  position: relative;
  background-color: #262424;
}

.homepage-body {
  background-color: #262424;
}

.welcome-message {
  font-size: 3em;
  margin: 1%;
  text-align: center;
  color: #b15533;
}

/* ##########################################
                    ROADMAP
  ########################################### */

.textOne,
.textTwo,
.textThree,
.textFour,
.textFive,
.textSix,
.textSeven,
.textEight,
.textNine,
.textTen,
.textEleven,
.textTwelve {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border: 0.2em solid green;
  padding: 0.3em;
  margin: 1em;
  position: absolute;
  text-align: right;
  line-height: NaNpx;
  letter-spacing: 0px;
}

.textOne {
  top: 531px;
  height: 241px;
  left: 0px;
  width: 578px;
}

.line7 {
  height: 15em;
  position: absolute;
  top: 38em;
  left: 40em;
}

.textTwo {
  top: 831px;
  height: 241px;
  right: 4em;
  width: 578px;
}

.textThree {
  top: 61em;
  height: 241px;
  left: 0px;
  width: 578px;
}

.textFour {
  top: 82em;
  height: 241px;
  right: 5em;
  width: 578px;
}

.line8 {
  height: 15em;
  position: absolute;
  top: 60em;
  left: 41em;
}

.textFive {
  top: 102em;
  height: 241px;
  left: 0em;
  width: 578px;
}

.line9 {
  height: 15em;
  position: absolute;
  top: 88em;
  left: 40em;
}

.line10 {
  height: 15em;
  position: absolute;
  top: 115em;
  left: 40em;
}

.line11 {
  height: 15em;
  position: absolute;
  top: 140em;
  left: 42em;
}

.line12 {
  height: 15em;
  position: absolute;
  top: 168em;
  left: 41em;
}

.textSix {
  top: 125em;
  height: 241px;
  right: 4em;
  width: 578px;
}

.textSeven {
  top: 145em;
  height: 241px;
  left: 0em;
  width: 578px;
}

.line13 {
  height: 15em;
  position: absolute;
  top: 192em;
  left: 41em;
}

.line14 {
  height: 15em;
  position: absolute;
  top: 218em;
  left: 41em;
}

.textEight {
  top: 165em;
  height: 241px;
  right: 3em;
  width: 578px;
}
.textNine {
  top: 188em;
  height: 241px;
  left: 0em;
  width: 578px;
}
.textTen {
  top: 212em;
  height: 241px;
  right: 2em;
  width: 578px;
}

.textEleven {
  top: 235em;
  height: 241px;
  left: 0em;
  width: 578px;
}
.textTwelve {
  top: 3432px;
  height: 241px;
  left: 0px;
  width: 578px;
}

.line15 {
  height: 15em;
  position: absolute;
  top: 250em;
  left: 41em;
}
.line16 {
  height: 15em;
  position: absolute;
  top: 275em;
  left: 41em;
}

.line17 {
  height: 15em;
  position: absolute;
  top: 190em;
  left: 43em;
}

.line18 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line19 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line20 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line21 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line22 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line23 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

.line24 {
  height: 15em;
  position: absolute;
  top: 55em;
  left: 43em;
}

/* ##########################################
                  FOOTER
  ########################################### */
footer {
  height: 100vh;
}

/* ##########################################
              FEATURE PAGES BODY
  ########################################### */
.level-page {
  display: flex;
  flex-direction: row;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
}

.level-page-content {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  margin-left: 8%;
  margin-right: 1%;
}

.level-page-content .exclaim-text {
  font-size: 1.5em;
  color: var(--trentOrange);
}

.level-page-content h1 {
  font-size: 3em;
  color: var(--trentGreen);
}

.level-page-content h2 {
  font-size: 2em;
  color: rgb(31, 56, 23);
}

.level-page-content p {
  font-size: 1.25em;
}

.level-page-content a {
  color: var(--trentOrange);
  text-decoration: none;
}

.level-page-content a:hover {
  text-decoration: underline;
}

.level-page-content ul li {
  padding: 0.5%;
  font-size: 1.25em;
}
.image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image-section-img {
  margin: 2%;
  width: 40%;
}
.image-section-text-para {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2%;
}
.image-section img {
  border: 0.2em solid black;
  width: 100%;
  height: auto;
}

.level-page-nav {
  margin-right: 10%;
  background-color: #e5edee;
  height: max-content;
}

.level-page-nav h2 {
  text-align: center;
  color: var(--trentGreen);
  font-size: 1.5em;
}
.level-page-nav hr {
  border: 0.1em solid #262424;
  background-color: #262424;
  width: 80%;
}

.level-page-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.level-page-nav ul li {
  padding: 1em 0em;
}

.level-page-nav a {
  color: black;
  text-decoration: none;
  padding: 1em 5em;
  font-size: 1.1em;
}

.level-page-nav a:hover {
  color: white;
  background-color: #224a3c;
}

/* ##########################################
              Footer
  ########################################### */
  footer{
    background-color: var(--trentGreen);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5%;
    padding-top: 5%;
    height: 60vh;
    
   
  }
  .FooterTagline{
    color: var(--trentWordYellow);
    font-size: 3vh;
  }
.row-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.facebook, .twitter,.linkedin, .instagram,.youtube{
  color: white;
  font-size: 5vh;
}
.social-icons{
  list-style: none;
  display: flex;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.social-icons li{
  list-style: none;
  display: flex;
  padding: 5%;

}
.ending-footer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: -10%;
}
.copyright{
  display: flex;
  justify-content: center;
}
.dot{
  color: white;
  font-size: 3vh;
}
.footer-links{
  color:white;
}
footer p{
  color: white;
}
.copyright-text{
  color: grey;
  
}
h5{
  color: white;
  font-size: 4vh;
}

