@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Lemonada:wght@400;500&family=Lobster&family=Permanent+Marker&display=swap');

/* On smaller screens, where height is less than 450px, 
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 28.125rem) {
    .sidenav {padding-top: 0.938rem;}
    .sidenav a {font-size: 1.125rem;}
  }
  
  .desktop1Wrapper {
    width: 100%;
    height: 3673px;
    position: relative;
    background-color: #262424;
  }
  
  .footer {
    top: 0px;
    height: 150px;
    left: 0px;
    width: 1440px;
    position: absolute;
    overflow: hidden;
    background-color: #154734;
  }
  
  .durham {
    top: 88px;
    height: 32px;
    left: 1138px;
    width: 141px;
    position: absolute;
    font-size: 24px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .logIn {
    top: 88px;
    height: 32px;
    left: 1317px;
    width: 123px;
    position: absolute;
    font-size: 24px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .logo1 {
    top: 0px;
    height: 141px;
    left: 29px;
    width: 360px;
    position: absolute;
    overflow: hidden;
  }
  
  .welcome {
    top: 88px;
    height: 32px;
    left: 957px;
    width: 143px;
    position: absolute;
    font-size: 24px;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .welcomeToTheTrentInternationalFamilyBelowIsAListOfNextStepsForNewInternationalStudents {
    top: 236px;
    height: 295px;
    left: 183px;
    width: 1122px;
    position: absolute;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    letter-spacing: 0px;
    color: #b15533;
  }
  
  .textOne {
    top: 531px;
    height: 241px;
    left: 0px;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .line7 {
  height: 15em;
  position: absolute;
  top: 35em;
  left: 43em
  }
  
  .textTwo {
    top: 831px;
    height: 241px;
    right: 10em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .textThree {
    top: 70em;
    height: 241px;
    left: 0px;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .textFour {
    top: 90em;
    height: 241px;
    right: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
   
  .line8 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .textFive {
    top: 105em;
    height: 241px;
    left: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .line9 {
    height: 15em;
  position: absolute;
  top: 75em;
  left: 43em
  }
  
  .line10 {
    height: 14em;
  position: absolute;
  top: 93em;
  left: 43em
  }
  
  .line11 {
    height: 15em;
  position: absolute;
  top: 110em;
  left: 43em
  }
  
  .line12 {
    height: 15em;
  position: absolute;
  top: 130em;
  left: 43em
  }
  
  .textSix {
    top: 125em;
    height: 241px;
    right: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .textSeven {
    top: 145em;
    height: 241px;
    left: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .line13 {
    height: 15em;
  position: absolute;
  top: 150em;
  left: 43em
  }
  
  .line14 {
    height: 15em;
  position: absolute;
  top: 213em;
  left: 43em
  }
  
  .textEight {
    top: 165em;
    height: 241px;
    right: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .textNine{
    top: 190em;
    height: 241px;
    left: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .textTen {
    top: 210em;
    height: 241px;
    right: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .textEleven {
    top: 225em;
    height: 241px;
    left: 5em;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .textTwelve {
    top: 3432px;
    height: 241px;
    left: 0px;
    width: 578px;
    position: absolute;
    text-align: right;
    line-height: NaNpx;
    letter-spacing: 0px;
    color: #ffffff;
  }
  
  .line15 {
    height: 15em;
  position: absolute;
  top: 193em;
  left: 43em
  }
  .line16 {
    height: 15em;
  position: absolute;
  top: 170em;
  left: 43em
  }
  
  .line17 {
    height: 15em;
  position: absolute;
  top: 190em;
  left: 43em
  }
  
  .line18 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line19 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line20 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line21 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line22 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line23 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }
  
  .line24 {
    height: 15em;
  position: absolute;
  top: 55em;
  left: 43em
  }