@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Lemonada:wght@400;500&family=Lobster&family=Permanent+Marker&display=swap');

/* On smaller screens, where height is less than 450px, 
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 28.125rem) {
    .sidenav {padding-top: 0.938rem;}
    .sidenav a {font-size: 1.125rem;}
  }
  
/* Body */
body{
    padding: 0 1em;
}

/* #######  Header #######*/
.orange_bkg{
    background-color: #b65735;
    padding-top: 2%;
}
.green_bkg{
    background-color: #224a3c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 1%;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lemonada', cursive;
    width: 25vw;
    height: 50px;
    margin-bottom: 0%;
    margin-right: 1em;
}

/* #######  Welcome Message #######*/
.welcomeContainer{
    position: relative;
}

.welcomeMessage{
    position: absolute;
    bottom: 1em;
    left: 5%;
    color: rgb(220, 235, 10);
    font-weight: 900;
    text-align: left;
}

.welcome{
    opacity: 0.95;
}
.welcomeMessage h1{
    font-size: 5em;
}

.welcomeMessage p{
    font-size: 3em;
}


/* #######  Intro Text CSS #######*/
.intro{
    color: black;
}
 .intro a{
    text-decoration: none ;
    font-style: italic;
    color: black;
 }
 
 /* ####### CSS For underline hover effect  #######*/
 .underline-hover-effect{
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
    cursor: pointer;
}
.underline-hover-effect::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.35s ease-out;
}
.underline-hover-effect:hover::before{
    width: 100%;
}
/* End of hover effect */

/* ####### Road Map Levels  #######*/
main{
    display: flex;
    flex-direction: column;
    
}
.level_img{
    display: flex;
    justify-content: center;
    padding: 5% 0%;
}

.level_img img{
    border: 0.5em solid black;
}


/* #######   #######*/